<!doctype html>
<html>
{% include head.html %}
<body>
  <div id="page"> 
	
	{% include header.html %}   
    
    <div id="content">
	
      <div id="main">
	   <div class="post">
	    <h2 class="pagetitle">{{ page.title }}</h2>
        {{ content }}
	    <p class="meta">
		{{ page.date | date_to_long_string }}<br/>
	    <ul class="pills">
	    {% for tag in page.tags %}
	      <li>{{tag}}</li>
	    {% endfor %}
	    </ul>
	    </p>
	   </div>
      </div>

     {% include sidebar.html %}
	
      <div class="spacer"></div>
	
    </div>

	{% include footer.html %}
    
  
  </div>
{% include scripts.html %}
</body>
</html>